.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    margin: 0 20%;
}

/* NAME */
.contact-form.contact-form-name {
    display: grid;
    gap: 10px;
}

.contact-form-name {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

/* EMAIL Y PHONE */

.contact-form-email-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form-email, .contact-form-phone {
    width: 48%;
}

/* MESSAGE */

label {
    color: #6B708D;
    cursor: default;
}

form .input {
    border-radius: 4px;
    box-shadow: inset;
    width: 100%;
    max-width: 100%;
    padding: 30px 10px;
    border: none;
    background-color:#E6E9F1;
}

.textarea {
    padding: 30px 10px;
    border: none;
    background-color: #E6E9F1;
}

.title-contactus {
    margin: 70px 20%;
}

/* BUTTON */

.button-contact-form {
    min-height: 80px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: unset;
    background-color: #072AC8;
}