body {
    background-color: #F4F6FC;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 0px;
    min-height: 100%;
    display: block;

}
    
div{
    display: block;
}

.navbar {
    background-color: #F4F6FC;
}

.navbar-brand{
    /* width: 1440px; */
    height: 122px;
    top: 0px;
    display: flex;
    padding: 0px 170px 0px 170px;
}

.navbar-item{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

.navbar-start{
    display: flex;
    /* align-content: space-between; */
}

.button.is-primary {
    background-color: #072AC8;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    padding: 15px 36px;
    gap: 10px;
}

.section{
    margin-top: 0px;
    padding: 0px 30px;

}

.section.hero{
    padding-top: 100px;
}

.container{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.container-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 530px;
}

.heading-2.hero-heading{
    margin-bottom: 30px;
}

.heading-2{
    font-size: 60px;
    line-height: 130%;
    color: #292e47;
}

h1 {
    line-height: 44px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    margin: 0.67em 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-block{
    max-width: 435px;
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
}

.text-block.hero-description{
    margin-bottom: 40px;
}

.hero-buttons{
    display: block;
    justify-content: flex-start;
    align-items: center;
}

.hero-text-button {
    color: #6B708D;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    padding: 15px 36px;
    gap: 10px;
}

/* REVISAR COLORES */
.button-get-in-touch {
    color: #fff;
    font-size: 17px;
    font-weight:500;
    text-decoration: none;
    background-color: #232AC8;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    padding: 15px 36px;
    gap: 10px; 
}

.button{
    font-family: 'Roboto', sans-serif;;
}
.button.primary-button{
    padding: 15px 30px;
    color: #FFFFFF;
    background-color: #072AC8;
    font-size: 17px;
}
.button.primary-button-hero {
    margin-right: 40px;
    margin-left: 20px;
}

a{
    background-color: transparent;
}

a:webkit-any-link{
    cursor: pointer;
}

.section.hero{
    padding-top: 100px;
}

img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}
.hero-image {
    position: relative;
    width: 570px;
    height: 650px;
    /* background-color: violet; */
}

.imag-hero-card-1 {
    position: absolute;
    left: -19%;
    top: 0%;
    max-width: 285px;
}

/* arreglar posiciones de las card */

.imag-hero-card-2 {
    position: absolute;
    right: -25%;
    bottom: -15%;
    max-width: 285px;
}

.heading-2{
    font-family: 'Roboto', sans-serif;;
    font-weight:  700;
    Size: 60px;
    line-height: 70.31px;
}

.text-block {
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6B708D;
}

.container.logos{
    margin-top: 130px;
}

.grid-logos {
    /* background-color: aquamarine; */
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* REVISAR ESTE COCNEPTO */
    margin: 8%;
    margin-left: 15%;
    margin-right: 15%;
 
}

.client-logo{
    display: flex;
    width: 150px;
    height: 96px;
    max-width: 150px;
    max-height: 96px;
    justify-content: center;
    align-items:center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}



.text-block.hero-description{
    color: #6B708D;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 40px;
}


h2{
    line-height: 36px;
    margin-top: 20px;
}


h3 {
    display: block;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




