body {
    background-color: #F4F6FC;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 0px;
    min-height: 100%;
    display: block;

}
    
div{
    display: block;
}

.navbar {
    background-color: #F4F6FC;
}

.navbar-brand{
    /* width: 1440px; */
    height: 122px;
    top: 0px;
    display: flex;
    padding: 0px 170px 0px 170px;
}

.navbar-item{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

.navbar-start{
    display: flex;
    /* align-content: space-between; */
}

.text-block {
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6B708D;
}

.container.logos{
    margin-top: 130px;
}

.grid-logos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* REVISAR ESTE COCNEPTO */
    margin: 8%;
    margin-left: 15%;
    margin-right: 15%;
}

.client-logo{
    display: flex;
    width: 150px;
    height: 96px;
    max-width: 150px;
    max-height: 96px;
    justify-content: center;
    align-items:center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}


h2{
    line-height: 36px;
    margin-top: 20px;
}


h3 {
    display: block;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




