div {
    /* display: block; */
}

.project-info {
    max-width: 1100px;
    margin: 0 auto;
}

.project-header {
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: blueviolet; */
}


h1 {
    font-size: 60px;
}

h4 {
    font-size: 24px;
}
.project-date {
    display: inline-block;
    justify-content: space-between;
    /* align-self: right; */
    gap: 10px;
    font-size: 24px;
    color: #6B708D;
    /* max-width: 100%; */
}


#ejercicio {
    font-size: 20px;
}

.span {
    font-style: inherit;
    font-weight: inherit;
}

.project-image {
    height: 444px;
    overflow: hidden;
    margin: 5% 0;
}

#ejercicio p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 500px;
}