.section-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1320px;
    max-width: 1320px;
    height: 622PX;
    background-color: #292e47;
    background-image: url('/images/testimonial-section/orbit.png');
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    gap:75px;
    margin: 70px;
    margin-bottom: 100px;
}

.memoji {
    max-width: 150px;
    width: 14%;
}

.memoji1 {
    position: absolute;
    top: 0;
    left: 0;
} 

.memoji2 {
    position: absolute;
    top: 0;
    right: 0;
}

.memoji3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.memoji4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

h3.title-testimonial {
    font-size: 40px;
    text-align: center;
    color: #ecf7ff;
}

h4.text-testimonial {
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
    color: #FFC600;
    max-width: 35%;

}

.client {
    display: flex;
}

.section-testimonial.client {
    align-items: center;
    text-align: left;
}

.client-image {
    margin-right: 1rem;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    height: 100%;
}


.client-info {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
}

.client-name {
    color: #A2D6F9;
}

.client-position {
    color: white;
}


